.TodoList{
    width: 30%;
    margin: 20px 0;
    border-collapse: collapse;
    font-size: 0.8em;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.247);
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.247);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.247);
}

.TodoList th{
    background-color: rgba(6, 81, 110, 0.904);
    color: white;
}

.TodoList th, td{
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.048);
}

.TodoList td:nth-child(odd), th:nth-child(odd){
    text-align: center;
}

.TodoList th:nth-child(even){
    text-align: left;
}

.TodoList tr:hover{
    background-color: rgba(126, 126, 123, 0.04);
}
